# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
venv/
env/

# Env
.env

# Alembic
alembic/versions/*.pyc

# Distribution
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.sw?

# OS
.DS_Store
